// COLORS
$background-color: #101213;
$color-primary: #1111;
$color-primary-light: #55c57a;
$color-primary-dark: #000;

$color-tertiary: #ececec;
$color-tertiary-dark: #5643fa;

$color-secondry: #b1060f;
// #168bff;
//  #fd9330;
$color-secondry-dark: #e50914;
//   #168bff;
//   #ff7730;

$color-gray-dark: #777;
$color-grey-dark-2: #333;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: lightgray;

//GRID
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;

$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;

$default-font-size: 1.6rem;
